@using Coldew.Api;
@using Coldew.Website;
@{ColdewInput crmInput = WebHelper.ColdewInputFactory.CreateInput(false);}

<table>
@for (int count = 0; count < this.ViewBag.fields.Count; ++count)
{
    if (count % 2 == 0)
    {
        @this.Html.Raw("<tr>");
    } 
    FieldInfo field = this.ViewBag.fields[count];
<td>
<div class="control-group">
    <label class="control-label" >
        @field.Name
        @if (field.Required) { 
            <font style="color: Red">*</font>
        }
    </label>
    <div class="controls">
        @crmInput.Input(field)
    </div>
</div>
</td>
    if(count % 2 == 1)
    {
        @this.Html.Raw("</tr>");
    }
    else if(count == this.ViewBag.fields.Count - 1)
    {
        @this.Html.Raw("<td></td></tr>");
    }
}
</table>

