@using Crm.Website.Models;
<ul class="nav nav-list">
    <li class="nav-header">合同</li>
    @{
        string indexMenuClass = this.ViewBag.LeftMenu == "Index" ? "class='active'" : "";
        string createMenuClass = this.ViewBag.LeftMenu == "Create" ? "class='active'" : "";
        string expiringMenuClass = this.ViewBag.LeftMenu == "Expiring" ? "class='active'" : "";
        string expiredMenuClass = this.ViewBag.LeftMenu == "Expired" ? "class='active'" : "";
        string importMenuClass = this.ViewBag.LeftMenu == "Import" ? "class='active'" : "";
    }
    <li @this.Html.Raw(indexMenuClass)><a href="@this.Url.Action("Index")">合同管理</a></li>
    <li @this.Html.Raw(expiringMenuClass)><a href="@this.Url.Action("Expiring")">快到期合同</a></li>
    <li @this.Html.Raw(expiredMenuClass)><a href="@this.Url.Action("Expired")">已到期合同</a></li>
    <li @this.Html.Raw(createMenuClass)><a href="@this.Url.Action("Create")">创建合同</a></li>
    <li @this.Html.Raw(importMenuClass)><a href="@this.Url.Action("ImportFirst")">导入合同</a></li>
</ul>