@using Crm.Website.Models;
<ul class="nav nav-list">
    <li class="nav-header">联系人</li>
    @{
        string indexMenuClass = this.ViewBag.LeftMenu == "Index" ? "class='active'" : "";
        string createMenuClass = this.ViewBag.LeftMenu == "Create" ? "class='active'" : "";
        string importMenuClass = this.ViewBag.LeftMenu == "Import" ? "class='active'" : "";
    }
    <li @this.Html.Raw(indexMenuClass)><a href="@this.Url.Action("Index")">联系人管理</a></li>
    <li @this.Html.Raw(createMenuClass)><a href="@this.Url.Action("Create")">创建联系人</a></li>
    <li @this.Html.Raw(importMenuClass)><a href="@this.Url.Action("ImportFirst")">导入联系人</a></li>
</ul>